.footer {
  margin-top: auto;

}

.footer__wrapper {
  border-top: 0.2rem solid var(--main-theme-color);
  margin-top: 4rem;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5rem 2rem;
}

.footer__copyright {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}
.footer__navigation {
  grid-column: 1 / 1;
  grid-row: 1 / 2;
}

.footer__search {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

@media only screen and (max-width: 678px) {

  .footer__wrapper {
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr;

  }

  .footer__copyright {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .footer__navigation {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .footer__search {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / 1;
  }
}