.footer {
  margin-top: auto;

}

.footer__wrapper {
  border-top: 0.2rem solid var(--main-theme-color);
  margin-top: 4rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.footer__copyright {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}
.footer__navigation {
  grid-column: 1 / 1;
  grid-row: 1 / 2;
}

.footer__search {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}