.header {
  position: relative;
  padding: 2rem 0;
  background: #b4efe8;
}

.site-name {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 5rem;
}

.site-name img {
  height: 100%;
}

.site-title {
  height: 100%;
  margin: 0;
  height: 2rem;
}

@media only screen and (max-width: 600px) {
  .site-name {
    text-align: center;
  }
}
