.header {
  position: relative;
  padding: 2rem 0;
  background: var(--main-theme-color);
}


.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem
}

@media only screen and (max-width: 600px) {
  .site-name {
    text-align: center;
  }
  .site-title {
    height: 70%;
  }

}
