:root {
  --main-theme-color: #002221;
  --font-color: #002221;
}

@media (prefers-color-scheme: light) {
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  :root {
    --main-theme-color: #267676;
    --font-color: #dce3e3;
  }
}

@media only screen and (max-width: 678px) {
  :root {
    font-size: 9px;
    --general-sides-padding: 5vw;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--font-color);
}

input[type='password']::-ms-reveal {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(210, 206, 206, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bab8b8;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: 2rem;
  line-height: 2rem;
  text-transform: uppercase;
  /* font-family: Raleway, sans-serif; */
  letter-spacing: 0.4rem;
}

h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
  /* font-family: Raleway, sans-serif; */
  letter-spacing: 0.4rem;
}

h3 {
  font-size: 1.1rem;
  margin: 0 0 1.1rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1.1rem;
}

p,
ul {
  margin: 1rem 0;
}

ul {
  margin-left: 4rem;
}

hr {
  box-sizing: border-box;
  margin: 2em auto 2em;
  width: 100%;
  height: 0;
  overflow: visible;
  border: 3px solid transparent;
  border-bottom-color: var(--main-theme-color);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline var(--main-theme-color);
}

a.disabled {
  color: rgb(106, 105, 105);
}

img {
  max-width: 100%;
  height: auto;
}

/* .button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  padding: 1rem 1.5rem;
  transition: all 0.3s ease;
  background: transparent;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.2;
  outline: 0;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.4rem;
  text-decoration: none;
  text-transform: uppercase;
  border: 3px solid var(--main-theme-color);
  color: var(--main-theme-color);
  cursor: pointer;
} */

/* a.button:hover {
  text-decoration: none;
} */
/* 
.button:hover,
button:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover {
  background-color: var(--main-theme-color);
  color: #fff;
}

input[type='color'],
input[type='date'],
input[type='datetime-local'],
input[type='datetime'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='range'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
textarea {
  box-sizing: border-box;
  margin-bottom: 0.5em;
  padding: 1rem 1.5rem;
  transition: all 0.3s ease;
  background: #fff !important;
  border-radius: 0 !important;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.2;
  outline: 0;
  backface-visibility: hidden;
  appearance: none;
  width: 20rem;
  max-width: 100%;
  color: inherit;
  border: 3px solid var(--main-theme-color);
} */

.topics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 4rem;
}

.topics,
.content {
  margin-top: 2rem;
}

@media only screen and (max-width: 678px) {
  .topics {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 4rem;
  }
}

.description {
  text-align: center;
  text-transform: uppercase;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.notitification-title {
  text-align: center;
}

/* WORDPRESS EDITOR STYLES FOR IMAGE ALIGNING */
.wp-block-image {
  display: inline;
}
.alignleft,
.alignright,
.size-thumbnail {
  max-width: 49%;
}
.alignleft {
  display: inline;
  float: left;
  margin-right: 1em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1em;
}
.aligncenter {
  clear: both;
  display: table;
  margin: 0 auto;
}
.alignnone {
  margin: 0;
}

.wp-block-image.aligncenter,
.wp-block-image .aligncenter,
.wp-block-image.alignleft,
.wp-block-image .alignleft,
.wp-block-image.alignright,
.wp-block-image .alignright {
  display: table;
}

.wp-block-image.aligncenter > figcaption,
.wp-block-image .aligncenter > figcaption,
.wp-block-image.alignleft > figcaption,
.wp-block-image .alignleft > figcaption,
.wp-block-image.alignright > figcaption,
.wp-block-image .alignright > figcaption {
  display: table-caption;
  caption-side: bottom;
}

.wp-element-caption {
  text-align: center;
  font-size: 1.4rem;
  color: #393d3d;
}

.is-layout-flex {
  display: flex;
  justify-content: space-around;
  gap: 10rem;
}

@media only screen and (max-width: 678px) {
  .is-layout-flex {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
}
