body {
  margin: 0;
}

input[type='password']::-ms-reveal {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}


/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(210, 206, 206, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bab8b8;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
