.preview-post {
  margin: calc(0.5rem + 3vw) 0;
}

.post__title {
  text-align: center;
  text-transform: uppercase;
}

.post__content::after {
  content: "";
  clear: both;
  display: table;
}

.post__read-more {
  margin-top: calc(0.2rem + 1vw);
}

.button {
  border: 2px solid var(--main-theme-color);
  padding: 0.5rem 2rem;
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.button:hover {
  text-decoration: none;
  color: #fff;
  background-color: var(--main-theme-color);
  transition: all 0.2s ease;

}

@media screen and (max-width: 600px) {
  .button {
    border: 2px solid var(--main-theme-color);
    padding: 0.3rem 1.5rem;
    font-weight: bold;
    font-size: 0.6rem;
    text-transform: uppercase;
  }
}