.topic__item {
  border: 5px solid var(--main-theme-color);
  width: 240px;
  height: 240px;
  transition: transform 0.3s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
a.topic__item {
  text-decoration: none;
}

.topic__image {
  position: relative;
  width: 200px;
  aspect-ratio: 1;
}

/* @media (prefers-color-scheme: dark) {
  .topic__image {
    filter: drop-shadow(2px 4px 6px black);
  }
} */
.topic__title {
  text-align: center;
  text-transform: uppercase;
  -webkit-font-smoothing: subpixel-antialiased;
  backface-visibility: hidden;
}

@media only screen and (min-width: 678px) {
  .topic__item:hover {
    transform: scale(1.1);
  }
}
